<div class="jumbotron">
	<div class="container">
		<h1>Facebook on Rails</h1>
		<p>Wlecome to app</p>

		<div class="progress">
			<div class="progress-bar" style="width:40%"></div>
			<div class="progress-bar progress-bar-warning" style="width:10%"></div>
			<div class="progress-bar progress-bar-danger" style="width:10%"></div>
			<div class="progress-bar progress-bar-success" style="width:10%"></div>
			<div class="progress-bar progress-bar-info" style="width:30%"></div>
		</div>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1>How it work?</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h2>Connect with Facebook </h2>
			<p>SingUp or login to this app wiht your Facebool acoount</p>
		</div>
		<div class="col-md-4">
			<h2>Create fun posts  </h2>
			<p>Start posting  cool content </p>
		</div>
		<div class="col-md-4">
			<h2>Share them </h2>
			<p>Share with your friends on facebook</p>
		</div>
	</div>
</div>

